<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TTAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="1048576" targetFramework="4.5"/>
    <sessionState timeout="15"></sessionState>
  </system.web>
  <connectionStrings>  
    <!--<add name="TTAPDB" connectionString="Data Source=10.10.131.34;database=TTAPDBPROD_TEST; User ID=sa;pwd=sa@12345; Connect Timeout=12000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="TTAPDB" connectionString="Data Source=10.10.131.34;database=TTAPDBPROD_15022024; User ID=sa;pwd=sa@12345; Connect Timeout=12000;" providerName="System.Data.SqlClient" />-->
    <add name="TTAPDB" connectionString="Data Source=120.138.9.174;database=TTAPDBPROD_07122024; User ID=sa;pwd=QWEASDzxc1234$#$; Connect Timeout=12000;" providerName="System.Data.SqlClient" />
    <add name="TSIPASS" connectionString="Data Source=120.138.9.174;database=TSIPASS; User ID=sa;pwd=QWEASDzxc1234$#$; Connect Timeout=12000;" providerName="System.Data.SqlClient" />
  </connectionStrings>  <!--TTAPDBLIVE-->  <!--TTAPDBPROD_07122024-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--SMS and Mail Gate way Details-->
    <add key="SmsKey" value="3fd03678-b243-496c-bbe1-a2e8cf220b23" />
    <add key="SmsUserID" value="KUMGOK" />
    <add key="SmsURL" value="https://msdgweb.mgov.gov.in/esms/sendsmsrequestDLT" />
    <add key="FromMail" value="ttaphead@gmail.com" />
	  <add key="FromMailPwd" value="Tt@pAdmin@123" />
	  <add key="IsBodyHtml" value="true" />
	  <add key="Host" value="smtp.gmail.com" />
	  <add key="Port" value="587" />
    <!--  <add key="Port" value="465"/>-->
    <add key="UseDefaultCredentials" value="false" />
    <add key="EnableSsl" value="true" />
    <add key="IsAttchmentsAllowed" value="true" />
    <add key="SysCalamount" value="true" />
    <add key="DLOSysCalamount" value="true" />
    <add key="IsServer" value="false" />
    <add key="GCaptchSiteKey" value="6Lc2Dj4cAAAAACWbQ_jfdwIOJzD_T8_yoeb-ViYw"/>
    <add key="GCaptchSecretKey" value="6Lc2Dj4cAAAAAHZ__w-FBtWw9gDXHXteSfp7OMgl"/>
    <add key="APTPGURL" value="https://aptonline.in/ThirdPartyPaymentPG/EBS_NEW/Request.aspx?CheckSumValue=" />
    <add key="APTPGReturnURL" value="http://ttap.telangana.gov.in/TTAPTEST/UI/Pages/BilldeskPaymentResponse.aspx" />
    <add key="PGBaseAmount" value="1180" />
    <add key="PGServiceCharge" value="180" />
    <add key="PGTotalAmount" value="1180" />
    <add key="APTSMSURL" value="https://smsgateway.aptonline.in/APOLSMSGW/smsservice.asmx" />
    <add key="APTUsername" value="TS-HANDLOOMS" />
    <add key="APTPassword" value="HANDLOOMS@2023" />
    <add key="DCPDateValidity" value="2024/08/31" />
  </appSettings>
  <system.webServer>
    <modules>
      <add name="QueryStringModule" type="QueryStringModule"/>
    </modules>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <TTAP.Properties.Settings>
      <setting name="TTAP_TSIPASSSERVICE_DepartmentApprovalSystem"
        serializeAs="String">
        <value>https://ipass.telangana.gov.in/departmentapprovalsystem.asmx</value>
      </setting>
      <setting name="TTAP_APTONLINEPGSERVICE_EncryptDEcrypt" serializeAs="String">
        <value>https://aptonline.in/ThirdPartyPaymentPG/EncryptDEcrypt.asmx</value>
      </setting>
      <setting name="TTAP_APTONLINESMSGATEWAY_SMSService" serializeAs="String">
        <value>https://smsgateway.aptonline.in/APOLSMSGW/smsservice.asmx</value>
      </setting>
      <setting name="TTAP_APTONLINEFAILEDPGSERVICE_PGServices" serializeAs="String">
        <value>https://aptonline.in/APTOLService/PGServices.asmx</value>
      </setting>
    </TTAP.Properties.Settings>
  </applicationSettings>
</configuration>
